@import url(http://fonts.googleapis.com/css?family=Roboto+Condensed);
@import url(http://fonts.googleapis.com/css?family=Lato);

body,html{
	height: 100%;
}
body{
	height: 100%;
}


textarea#oneurl {
	width: 70%;
	height: 4vw;
	border: 3px solid #cccccc;
	padding: 1px;
	font-family: 'Lato', sans-serif;
	color: #3D3C40;
	font-size: .5em;

}
h3{
	font-family: 'Roboto Condensed', sans-serif;
	font-size: 1em;
	color: #3D3C40;
}
h3 span{
 	
	color: #CC4643;

 }
h4
{
	font-size: 1em;
	color: white;
	
}
h5{
	font-size: .7em;
	color: black;
}
#general{
	height: 30%;
}

#urls{
	height: 30%;
}
#title
{
	height: 30%
}
#instructions{
	height: 30%;
}
#pregunta1
{
display: none;
background-color: #52BFB3;
height: 70%;
}
.amarillo{
background-color: yellow;
}

.rojo{
	background-color: red;
}
#pregunta2
{
	background-color: #CC4643;
	height: 70%;
	display: none;
}

#fantasma{
	height: 50%
}

#pregunta3
{
	background-color: #6979FF;
	height: 70%;
	display: none;
}

#fin1
{
	background-color: #7F8E99;
	height: 70%;
	display: none;
}

#fin2
{
	background-color: #7F8E99;
	height: 70%;
	display: none;
}
#fin3
{
	background-color: #7F8E99;
	height: 70%;

	display: none;
}
#fin4
{
	background-color: #7F8E99;
	height: 70%;
	display: none;
}



/*#foot{
	
	background-color: black;
	height: 10%;
	color: white;
}
*/
footer{
	height: 5%;
	font-size: .5em;
}